body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
}



#product-overview h1 {
    color: white;
    /* font-family: 'Anton', sans-serif; */
}



h1.section-title {

    font-family: "Anton", sans-serif;

    font-weight: 400;
    font-style: normal;
    color: black;
}

h1.section-title {
    color: #2ddf5c;
}


h1 {
    color: hotpink;
}


[disabled] {
    background: yellowgreen;
    color: aqua;
}

h1.section-title {
    color: coral;
}

#plans.sectiontitle {
    color: black;
}

#product-overview div h1 {
    color: black;
}