.adiacent-sibling h2+p {
    font-weight: 400;
    color: red;
}

.general-sibling h2~p {

    color: green;
}

.child>p {
    color: peru;
    background: yellow;
}

.descendant p {
    color: blue;
    background: yellow;
    font-weight: 500;
}